<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Discord-Embed-Web-Panel</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    {{{ body }}}
</body>

</html>